*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
}
ul,li{
    list-style: none;
}
.container{
    width: 100vw;
    position: relative;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 150px;
}

.nav{
    display: flex;
    align-items: center;
    width: 100%; 
}

.nav li{
    cursor: pointer;
    margin-right: 20px;   
}

.nav li a{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.nav .logo{
    margin-right: auto;
}
.nav .logo a{
    font-size: 24px;
    font-weight: 600;
}
.nav .home a{
    color: #f40;
}

.nav li a:hover{
    color: #f40;
    transition: .3s linear;
}
.main{
    margin-top: 70px;
}
.hero{
    background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h1 {
    font-size: 46px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 20px;
    letter-spacing: 1px;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
}

.content-container  h2, 
.content-container h3 {
    font-size: 150%;
    margin: 20px 0;
}

.content-container  p {
    color: #555;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.active{
    background-color: #fff;
    color: #000;
    height: 60px;
    transition: .3s ease-in-out;
}

.active ul li a{
    color: #000;
}

