*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    display: flex;
    width: 90vw;
}

.wrap{
  position: relative;
  flex: 0.5;
  height: 80vh;
  border-radius: 50px;
  margin:10px;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: flex 0.5s ease-in;

}
.wrap:first-of-type{
    background-image: url("./img/1.avif");
    width: 100%;
}
.wrap:nth-of-type(2){
    background-image: url("./img/2.avif");
}
.wrap:nth-of-type(3){
    background-image: url("./img/3.avif");
}
.wrap:nth-of-type(4){
    background-image: url("./img/4.avif");
}
.wrap:last-of-type{
    background-image: url("./img/5.avif");
}

.text{
    color:#fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity:0;
}

.wrap:first-of-type > .text{
    display: block;
}

.wrap.active{
    flex: 5;
}

.wrap.active > .text{
    opacity: 1;
    transition: opcity 0.4s ease-in 0.4s;
}

@media(max-width:480px){
    .container{
        width:100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}